@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  top: 25px; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px; }
  .header__logo {
    position: relative;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__logo img {
      max-width: 100%; }
      @media (max-width: 967px) {
        .header__logo img {
          width: 50px;
          height: 50px; } }
    .header__logo:after {
      content: 'Waxom';
      font-size: 34px;
      vertical-align: 35%;
      font-family: 'Raleway', serif;
      font-weight: 400;
      color: #fff; }
      @media (max-width: 967px) {
        .header__logo:after {
          font-size: 20px;
          vertical-align: 70%; } }
  .header__burger {
    display: none; }
  .header__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2; }
    .header__list li {
      position: relative;
      padding: 0 13.3px;
      list-style-type: none; }
      .header__list li:nth-child(9) {
        padding: 0px 15px 0px 50px; }
      @media (max-width: 1024px) {
        .header__list li {
          padding: 0 12px; }
          .header__list li:nth-child(9) {
            padding: 0px 12px 0px 20px; } }
      @media (max-width: 967px) {
        .header__list li {
          padding: 0 10px; }
          .header__list li:nth-child(9) {
            padding: 0px 10px 0px 15px; } }
  .header__link {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff; }
    .header__link:hover {
      color: #c7b299;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .header__form {
    display: none; }
  .header__main {
    text-align: center;
    color: #fff;
    text-align: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__title h1 {
    font-family: 'Raleway', serif;
    font-size: 52px;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.5px; }
    @media (max-width: 890px) {
      .header__title h1 {
        font-size: 40px; } }
    @media (max-width: 540px) {
      .header__title h1 {
        font-size: 30px; } }
  .header__title span {
    font-size: 36px;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
    letter-spacing: 0px; }
    @media (max-width: 890px) {
      .header__title span {
        font-size: 25px; } }
    @media (max-width: 540px) {
      .header__title span {
        font-size: 18px; } }
  .header__subtitle {
    max-width: 600px;
    margin: 0 auto;
    margin: 15px auto 27px auto;
    line-height: 26px;
    letter-spacing: 0.9px; }
    @media (max-width: 890px) {
      .header__subtitle {
        margin: 15px auto 14px auto; } }
    .header__subtitle p {
      font-style: 16px;
      font-family: 'Montserrat', serif;
      font-weight: 300; }
      @media (max-width: 890px) {
        .header__subtitle p {
          font-size: 14px; } }
      @media (max-width: 540px) {
        .header__subtitle p {
          font-size: 12px; } }
  .header__button {
    display: inline-block;
    margin-top: 20px; }

.button {
  padding: 18px 39px 16px 39px;
  background-color: #998675;
  margin-top: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Raleway', serif;
  text-transform: uppercase;
  border-radius: 4px; }

@media (max-width: 890px) {
  body.lock {
    overflow: hidden; }
  .header__body {
    height: 30px; }
  .header__row {
    height: 60px; }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    right: 25px;
    z-index: 3; }
  .header__burger span {
    /*создаем полоску по середине*/
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    /*прижимаем верхнюю полоску вверх*/
    top: 0; }
  .header__burger:after {
    /*прижимаем нижнюю полоску вниз*/
    bottom: 0; }
  .header__burger.active:before {
    /*.active это из JS файлы, т.е. что будет происходить когда добавляется класс active элементу и делаем из бургера крестик*/
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /*поварачиваем верхнюю палку на 45 градусов*/
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /*поварачиваем нижнюю палку на 45 градусов*/
    bottom: 9px; }
  .header__burger.active span {
    /*убираем среднюю палочку при добавление класса active*/
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__menu {
    /*фиксируем и делаем фон для открытого меню бургера*/
    position: fixed;
    top: -120%;
    /*сначала мы пишем top:0, но потом чтобы меню появлялось сверху плавно то пишем уже top:-100%;*/
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*если в меню много слов/строк и т.д. то будет скролл*/
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px 10px 20px 10px;
    /*спускает навигацию вниз*/ }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: block;
    /*отключаем display: flex и навигация размещается в столбец*/
    text-align: center; }
    .header__list li {
      margin: 0px 0px 16px 0px;
      padding: 4px 0px; }
      .header__list li:nth-child(10) {
        display: none; }
  .header__link {
    font-size: 24px; }
  .header__form {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto; }
    .header__form input {
      color: #fff; }
      .header__form input:focus {
        outline: none; }
  .header__input {
    padding: 10px 20px;
    color: #000;
    background-color: #000;
    border: none;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .header__input-button {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #998675;
    border: none; } }

@media (max-width: 360px) {
  .header__input {
    width: 100px; } }

.footer__body {
  background-color: #191919; }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__desc {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%; }
  .footer__desc p {
    margin: 24px 0;
    line-height: 24px; }
  .footer__desc a {
    color: #fff;
    font-size: 14px;
    margin-top: 20px; }

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__logo:after {
    content: 'Waxom';
    font-size: 34px;
    vertical-align: 35%;
    font-family: 'Raleway', serif;
    font-weight: 400;
    color: #fff; }
    @media (max-width: 967px) {
      .footer__logo:after {
        font-size: 20px;
        vertical-align: 70%; } }

.footer__column {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  padding: 46px 0px 0 2px; }
  .footer__column h3 {
    margin-bottom: 26px;
    font-size: 24px;
    color: #fff; }

.footer__posts {
  margin: 0px 0 15px;
  padding-left: 2px; }
  .footer__posts time {
    font-size: 12px;
    font-weight: 100;
    color: #494949; }
  .footer__posts a {
    display: block;
    color: #555555;
    margin-top: 6px;
    line-height: 20px; }
  .footer__posts:after {
    content: '';
    border: 1px solid #252525;
    width: 270px;
    display: block;
    margin-top: 20px; }
  .footer__posts:nth-child(4):after {
    content: none; }
  .footer__posts:hover a {
    color: #c7b299;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .footer__posts:hover time {
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.footer__twitter {
  margin: 0px 0 14px; }
  .footer__twitter:last-child a {
    color: #959595; }
  .footer__twitter p {
    margin-bottom: 6px;
    color: #555555;
    line-height: 20px; }
  .footer__twitter time {
    font-size: 12px;
    font-weight: 100;
    color: #494949; }
  .footer__twitter a {
    color: #00bff3;
    margin-top: 10px; }
  .footer__twitter:after {
    content: '';
    border: 1px solid #252525;
    width: 270px;
    display: block;
    margin-top: 22px; }
  .footer__twitter:nth-child(4):after {
    content: none; }

.footer__widget {
  padding-top: 46px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 23.59%;
  flex-basis: 23.59%; }
  .footer__widget h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 23px; }

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer__image img {
    padding: 4px 4px; }

.footer__copyright {
  background-color: #111111;
  height: 110px; }

.copyright__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 110px;
  font-size: 13px;
  color: #555555; }

.copyright__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .copyright__item p {
    margin-right: 20px;
    position: relative; }
    .copyright__item p span {
      color: #959595; }
    .copyright__item p::after {
      content: '';
      background-color: #252525;
      height: 13px;
      width: 1px;
      position: absolute;
      right: -10px; }
    .copyright__item p:last-child::after {
      content: none; }
    .copyright__item p:hover,
    .copyright__item p:hover span {
      color: #c7b299;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }

.copyright__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .copyright__shop p {
    margin-left: 20px;
    position: relative; }
    .copyright__shop p span {
      color: #959595; }
    .copyright__shop p::after {
      content: '';
      background-color: #252525;
      height: 13px;
      width: 1px;
      position: absolute;
      right: -10px; }
    .copyright__shop p:last-child::after {
      content: none; }
    .copyright__shop p:hover,
    .copyright__shop p:hover span {
      color: #c7b299;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }

.twitter__header {
  margin-bottom: 22px !important; }

body {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.main-screen {
  height: 100%; }
  .main-screen img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

h2 {
  font-size: 30px;
  font-family: 'Raleway', serif;
  font-weight: 600;
  color: #555555;
  margin: 0 auto;
  line-height: 35px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 25px;
      line-height: 29px; } }

h3 {
  font-family: 'Raleway', serif;
  font-weight: 600; }

.page__benefits {
  padding: 54px 0; }

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-align: center; }
  @media (max-width: 1200px) {
    .benefits__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 69%; } }
  @media (max-width: 860px) {
    .benefits__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 270px; } }

.benefits__item {
  max-width: 270px;
  position: relative;
  padding: 0px 0px 25px 0px;
  margin: 30px 0; }
  .benefits__item:after {
    content: '';
    background-color: #f1eee9;
    height: 3px;
    width: 70px;
    position: absolute;
    left: 57%;
    margin: 0px 0px 0px -52.5px;
    bottom: 0; }
  .benefits__item svg {
    width: 43px;
    fill: #555555; }
  .benefits__item:hover svg {
    fill: #c7b299;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .benefits__item:hover h4 {
    color: #c7b299;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .benefits__item:hover:after {
    background-color: #c7b299;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.benefits__title {
  font-size: 22px;
  color: #555555;
  margin: 26px 0 15px;
  font-family: 'Raleway', serif;
  font-weight: 600;
  letter-spacing: 0.2px; }

.benefits__subtitle {
  line-height: 24px; }

.page__ideas {
  background-color: #fbfaf8; }

.ideas__item {
  text-align: center; }

.ideas__title {
  margin-bottom: 18px;
  padding-top: 80px;
  letter-spacing: 0.2px; }
  @media (max-width: 550px) {
    .ideas__title {
      max-width: 300px;
      max-width: 335px;
      line-height: 34px; } }

.ideas__subtitle {
  max-width: 760px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.25px;
  font-weight: 400; }

.ideas__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
  padding-bottom: 0; }
  @media (max-width: 1300px) {
    .ideas__photo {
      margin: 34px auto 0;
      width: 728px; } }
  @media (max-width: 768px) {
    .ideas__photo {
      margin: 34px auto 0;
      width: 424px; } }
  @media (max-width: 482px) {
    .ideas__photo {
      display: block;
      max-width: 100%; } }
  .ideas__photo_left {
    position: relative;
    top: 82px;
    height: 400px; }
    @media (max-width: 1300px) {
      .ideas__photo_left {
        height: 183px; } }
    @media (max-width: 768px) {
      .ideas__photo_left {
        height: 118px; } }
    @media (max-width: 482px) {
      .ideas__photo_left {
        position: static;
        display: block;
        width: 100%;
        height: inherit; } }
  .ideas__photo_center {
    position: relative;
    left: -565px;
    z-index: 5; }
    @media (max-width: 1300px) {
      .ideas__photo_center {
        left: -200px;
        height: 265px; } }
    @media (max-width: 768px) {
      .ideas__photo_center {
        left: -175px;
        height: 200px; } }
    @media (max-width: 482px) {
      .ideas__photo_center {
        position: static;
        display: block;
        width: 100%;
        height: inherit;
        margin-top: 10px; } }
  .ideas__photo_right {
    position: relative;
    z-index: 2;
    height: 400px;
    left: -1105px;
    top: 82px; }
    @media (max-width: 1300px) {
      .ideas__photo_right {
        height: 183px;
        left: -400px; } }
    @media (max-width: 768px) {
      .ideas__photo_right {
        height: 118px;
        left: -350px; } }
    @media (max-width: 482px) {
      .ideas__photo_right {
        position: static;
        display: block;
        width: 100%;
        height: inherit;
        margin-top: 10px; } }

.page__purchase {
  background: #211b19;
  background: -webkit-linear-gradient(left, #211b19 0%, #382820 51%, #4e3427 100%);
  background: -o-linear-gradient(left, #211b19 0%, #382820 51%, #4e3427 100%);
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(51%, #382820), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #382820 51%, #4e3427 100%);
  height: 150px; }
  @media (max-width: 600px) {
    .page__purchase {
      height: 180px; } }

.purchase__body {
  margin: 0 auto;
  position: relative; }

.purchase__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px; }
  @media (max-width: 600px) {
    .purchase__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 180px; } }

@media (max-width: 600px) {
  .purchase__text {
    margin-bottom: 15px;
    max-width: 381px;
    text-align: center; } }

.purchase__title {
  font-size: 28px;
  color: #fff;
  font-family: 'Raleway', serif;
  font-weight: 400;
  margin-bottom: 9px;
  letter-spacing: 0.2px; }
  .purchase__title span {
    color: #c7b299; }
  @media (max-width: 769px) {
    .purchase__title {
      font-size: 20px; } }
  @media (max-width: 410px) {
    .purchase__title {
      font-size: 18px;
      max-width: 200px;
      margin: 0 auto 10px;
      line-height: 22px; } }

.purchase__subtitle {
  font-size: 18px;
  color: #615855; }
  @media (max-width: 769px) {
    .purchase__subtitle {
      font-size: 14px; } }
  @media (max-width: 410px) {
    .purchase__subtitle {
      font-size: 12px;
      max-width: 309px; } }

.purchase__button {
  margin-top: inherit;
  padding: 18px 28px 16px 28px; }

.project__text {
  text-align: center;
  padding: 78px 0 44px 0; }

.project__title {
  margin-bottom: 18px; }

.project__subtitle {
  max-width: 762px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 27px; }

.project__item {
  width: 100%; }

.project__toggle_list {
  text-align: center; }
  .project__toggle_list li {
    list-style-type: none;
    display: inline-block; }
    .project__toggle_list li:first-child a {
      padding: 0.4em 1.9em; }
    @media (max-width: 768px) {
      .project__toggle_list li:first-child {
        margin-bottom: 28px; } }
    .project__toggle_list li:nth-child(2) a {
      padding: 0.4em 1.2em; }
    .project__toggle_list li:nth-child(3) a {
      padding: 0.4em 1.4em; }
    @media (max-width: 369px) {
      .project__toggle_list li:nth-child(3) {
        margin-bottom: 28px; } }
    .project__toggle_list li:nth-child(4) a {
      padding: 0.4em 1.5em; }
    .project__toggle_list li:last-child a {
      padding: 0.4em 1.6em; }
    .project__toggle_list li a {
      margin-right: 6px;
      padding: 0.4em 1em;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      color: #8c8c8c; }
      .project__toggle_list li a:hover {
        background-color: #998675;
        border: 1px solid #998675;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        color: #fff; }
      .project__toggle_list li aact {
        background-color: pink; }

.project__button {
  margin: 0 auto;
  padding: 17px 46px 16px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  width: 171px; }

.content-project {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  padding: 0 15px;
  margin: 0 auto 30px; }
  .content-project:hover .content-project__img {
    background: #000; }
    .content-project:hover .content-project__img img {
      opacity: 0.5; }
    .content-project:hover .content-project__img svg {
      display: block; }
  .content-project:hover .content-project__text {
    background-color: #362f2d; }
  .content-project:hover .content-project__title {
    color: #fff; }
  .content-project:hover .content-project__subtitle {
    color: #c7b299; }
  .content-project__img {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 237px;
    width: 369px; }
    @media (max-width: 400px) {
      .content-project__img {
        height: 180px;
        width: 288px; } }
  .content-project__scale_1 {
    background: url("../../img/photo-1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_1:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__scale_2 {
    background: url("../../img/photo-2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_2:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__scale_3 {
    background: url("../../img/photo-3.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_3:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__scale_4 {
    background: url("../../img/photo-4.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_4:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__scale_5 {
    background: url("../../img/photo-5.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_5:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__scale_6 {
    background: url("../../img/photo-6.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .content-project__scale_6:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .content-project__text {
    background-color: #fbfaf8;
    width: 370px;
    height: 100px;
    margin-top: -2px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 29px 0 0 29px; }
    @media (max-width: 400px) {
      .content-project__text {
        width: 288px; } }
  .content-project__title {
    font-size: 20px;
    font-family: 'Raleway', serif;
    font-weight: 500;
    margin-bottom: 10px; }
  .content-project__subtitle {
    font-size: 14px; }

#project__content {
  margin: 48px auto 11px;
  width: 100%; }
  @media (max-width: 1199px) {
    #project__content {
      max-width: 770px; } }
  @media (max-width: 799px) {
    #project__content {
      max-width: 370px; } }

#project__content .tab {
  display: none; }

#project__content .tab.act {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }

nav#project__toggle {
  margin: 0 auto;
  max-width: 615px; }
  @media (max-width: 768px) {
    nav#project__toggle {
      max-width: 340px; } }

.page__presentation {
  padding: 81px 0; }

.presentation__icon {
  background: url("../../img/play.png") no-repeat center;
  height: 100px;
  width: 100px;
  margin: 0 auto; }

.presentation__body {
  text-align: center;
  width: 100%;
  display: table;
  background: url("../../img/video-presentation.jpg") no-repeat center;
  background-size: cover; }

.presentation__item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 705px; }
  @media (max-width: 1200px) {
    .presentation__item {
      height: 453px; } }
  @media (max-width: 768px) {
    .presentation__item {
      height: 363px; } }

.presentation__title {
  color: #fff;
  margin-top: 42px;
  margin-bottom: 18px; }
  @media (max-width: 768px) {
    .presentation__title {
      padding: 0 15px; } }
  @media (max-width: 400px) {
    .presentation__title {
      margin-top: 25px;
      margin-bottom: 12px; } }

.presentation__subtitle {
  margin-top: 10px;
  max-width: 561px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  padding: 0 10px; }
  @media (max-width: 768px) {
    .presentation__subtitle {
      font-size: 14px; } }

.presentation__time {
  margin-top: 37px;
  color: #c7b299;
  font-size: 14px; }
  @media (max-width: 400px) {
    .presentation__time {
      margin-top: 15px; } }

.app__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1000px) {
    .app__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }

.app__photo {
  padding-left: 45px; }
  .app__photo img {
    max-width: 100%; }
  @media (max-width: 1000px) {
    .app__photo {
      padding-left: 0;
      max-width: 422px;
      margin: 30px auto 0; } }

.app__text {
  padding-left: 27px; }
  @media (max-width: 1000px) {
    .app__text {
      margin: 0 auto;
      padding-left: 0; } }

.app__title {
  margin: 113px 0 28px 0;
  letter-spacing: 0.15px; }
  @media (max-width: 1000px) {
    .app__title {
      margin: 0px 0 28px 0;
      text-align: center; } }

.app__subtitle {
  font-size: 16px;
  line-height: 28px;
  max-width: 666px; }
  @media (max-width: 1000px) {
    .app__subtitle {
      text-align: center; } }
  @media (max-width: 768px) {
    .app__subtitle {
      font-size: 14px; } }

.app__item {
  margin: 30px 0 0 50px; }
  @media (max-width: 1071px) {
    .app__item {
      margin: 20px 0px 0px 0px; } }
  @media (max-width: 1000px) {
    .app__item {
      margin: 20px auto 0px;
      max-width: 478px; } }
  @media (max-width: 768px) {
    .app__item {
      max-width: 443px; } }
  @media (max-width: 414px) {
    .app__item {
      max-width: 278px;
      margin: 30px auto 0px; } }

.app__link {
  position: relative;
  line-height: 32px;
  letter-spacing: 1px;
  padding-left: 50px; }
  @media (max-width: 1200px) {
    .app__link {
      font-size: 13px;
      letter-spacing: 0px; } }
  @media (max-width: 1071px) {
    .app__link {
      padding-left: 30px; } }
  @media (max-width: 768px) {
    .app__link {
      font-size: 12px; } }
  .app__link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    background-image: url("../../img/arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    margin-right: -10px; }

.page__statistics {
  background: #211b19;
  background: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  height: 300px; }
  @media (max-width: 530px) {
    .page__statistics {
      height: 887px; } }

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 116px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 277px; }
  @media (max-width: 1200px) {
    .statistics__row {
      padding: 0 0px; } }
  @media (max-width: 530px) {
    .statistics__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.statistics__item {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 15%;
  flex: 0 1 15%; }
  @media (max-width: 1200px) {
    .statistics__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%; } }
  @media (max-width: 530px) {
    .statistics__item {
      margin-top: 40px; } }

.statistics__number {
  margin: 22px 0 13px 0;
  font-size: 48px;
  font-weight: 100;
  color: #fff; }
  @media (max-width: 768px) {
    .statistics__number {
      font-size: 30px; } }
  @media (max-width: 530px) {
    .statistics__number {
      margin: 12px 0 5px 0; } }

.statistics__desc {
  font-size: 14px;
  text-transform: uppercase;
  color: #c7b299;
  position: relative; }
  @media (max-width: 1163px) {
    .statistics__desc {
      line-height: 21px;
      height: 37px;
      text-align: center; } }
  @media (max-width: 768px) {
    .statistics__desc {
      font-size: 12px;
      width: 100px;
      margin: 0 auto; } }
  .statistics__desc::after {
    content: '';
    background-color: #f1eee9;
    height: 2px;
    width: 30px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (max-width: 706px) {
      .statistics__desc::after {
        top: 55px; } }
    @media (max-width: 530px) {
      .statistics__desc::after {
        top: 45px; } }

.container__posts {
  padding: 0 0px; }

.posts__text {
  max-width: 777px;
  text-align: center;
  margin: 78px auto 33px; }

.posts__subtitle {
  margin-top: 18px;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: -0.1px; }

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slider__list {
  position: relative;
  width: 374px;
  margin: 0 auto;
  border: 1px solid #f8f8f8; }
  @media (max-width: 404px) {
    .slider__list {
      width: 300px; } }

.slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 31%;
  flex: 0 1 31%;
  position: relative;
  margin: 0 12px; }
  .slider__item:hover {
    background-color: #362f2d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .slider__item:hover h3 {
    color: #c7b299;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .slider__item:hover .slider__day {
    background-color: #c7b299;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .slider__item:hover .slider__month {
    background-color: #a48d72;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .slider__item:hover .slider__images {
    background-image: #000;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.slider__time {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 19px;
  text-align: center;
  font-size: 24px;
  z-index: 2; }

.slider__day {
  background-color: #363636;
  padding: 6px 10px 6px 11px;
  border-radius: 4px 4px 0 0; }

.slider__month {
  font-size: 12px;
  background-color: #252525;
  padding: 4px 9px 8px 11px;
  border-radius: 0 0 4px 4px;
  letter-spacing: -0.2px; }

.slider__images img {
  width: 374px; }
  @media (max-width: 404px) {
    .slider__images img {
      width: 298px; } }

.slider__text {
  padding: 28px 22px 67px 28px; }

.slider__title {
  font-size: 20px;
  font-family: 'Raleway', serif;
  font-weight: 500; }

.slider__subtitle {
  margin-top: 15px;
  line-height: 22px;
  letter-spacing: -0.1px; }

.slider__button {
  margin-top: 24px;
  display: block;
  position: absolute;
  color: #c7b299; }
  .slider__button::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 1px;
    left: 84px;
    background: url("../../img/arrow-right.png") no-repeat;
    width: 10px;
    height: 10px; }

.slider {
  position: relative; }

.slick-track {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slick-slide.slick-active {
  width: 300px; }

.slick-list {
  overflow: hidden; }

.slider .slick-arrow {
  position: absolute;
  bottom: -62px;
  z-index: 10;
  font-size: 0;
  width: 22px;
  height: 22px; }
  .slider .slick-arrow:hover {
    fill: #c7b299; }

.slider .slick-arrow.slick-prev {
  right: 50%;
  margin-left: -50%;
  margin-right: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/svg/slider-arrow__left.svg") 0 0/100% no-repeat; }
  .slider .slick-arrow.slick-prev:hover {
    background: url("../img/svg/slider-arrow__left_color.svg") 0 0/100% no-repeat;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.slider .slick-arrow.slick-next {
  left: 50%;
  margin-right: -50%;
  margin-left: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/svg/slider-arrow__right.svg") 0 0/100% no-repeat; }
  .slider .slick-arrow.slick-next:hover {
    background: url("../img/svg/slider-arrow__right_color.svg") 0 0/100% no-repeat;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.slider .slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; }

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff; }

.page__partners {
  background: url("../img/pre-footer.jpg");
  background-size: cover;
  background-position: center;
  margin: 142px 0 0 0;
  height: 489px;
  position: relative; }

.partners__body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1110px; }
  .partners__body img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
