.footer {
	&__body {
		background-color: #191919;
	}
	&__item {
		display: flex;
		padding: 60px 0;
		justify-content: space-between;
	}
	&__desc {
		flex-basis: 24%;
		p {
			margin: 24px 0;
			line-height: 24px;
		}
		a {
			color: #fff;
			font-size: 14px;
			margin-top: 20px;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		&:after {
			content: 'Waxom';
			font-size: 34px;
			vertical-align: 35%;
			font-family: 'Raleway', serif;
			font-weight: 400;
			color: #fff;
			@media (max-width:967px){
				font-size: 20px;
				vertical-align: 70%;
			}
		}
	}
	&__column {
		flex-basis: 24%;
		padding: 46px 0px 0 2px;
		h3 {
			margin-bottom: 26px;
			font-size: 24px;
			color: #fff;
		}
	}
	&__posts {
		margin: 0px 0 15px;
		padding-left: 2px;
		time {
			font-size: 12px;
			font-weight: 100;
			color: #494949;
		}
		a {
			display: block;
			color: #555555;
			margin-top: 6px;
			line-height: 20px;
		}
		&:after {
			content: '';
			border: 1px solid #252525;
			width: 270px;
			display: block;
			margin-top: 20px;
		}
		&:nth-child(4):after {
			content: none;
		}
		&:hover a {
			color: #c7b299;
			transition: 0.5s;
		}
		&:hover time {
			color: #fff;
			transition: 0.5s;
		}
	}
	&__twitter {
		margin: 0px 0 14px;
		&:last-child {
			a {
				color: #959595;
			}
		}
		p {
			margin-bottom: 6px;
			color: #555555;
			line-height: 20px;
		}
		time {
			font-size: 12px;
			font-weight: 100;
			color: #494949;
		}
		a {
			color: #00bff3;
			margin-top: 10px;
		}
		&:after {
			content: '';
			border: 1px solid #252525;
			width: 270px;
			display: block;
			margin-top: 22px;
		}
		&:nth-child(4):after {
			content: none;
		}
	}
	&__widget {
		padding-top: 46px;
		flex-wrap: wrap;
		flex-basis: 23.59%;
		h3 {
			font-size: 24px;
			color: #fff;
			margin-bottom: 23px;
		}
	}
	&__image {
		display: flex;
		flex-wrap: wrap;
		img {
			padding: 4px 4px;
		}
	}
	&__copyright {
		background-color: #111111;
		height: 110px;
	}
}

.copyright {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		font-size: 13px;
		color: #555555;
	}
	&__item {
		display: flex;
		flex-direction: row;
		
		p {
			margin-right: 20px;
			position: relative;
			span {
				color: #959595;
			}
			&::after {
				content: '';
				background-color: #252525;
				height: 13px;
				width: 1px;
				position: absolute;
				right: -10px;
			}
			&:last-child::after {
				content: none;
			}
			&:hover,
			&:hover span {
				color: #c7b299;
				transition: 0.3s;
				cursor: pointer;
			}
		}
		
	}
	&__shop {
		display: flex;
		flex-direction: row;
		p {
			margin-left: 20px;
			position: relative;
			span {
				color: #959595;
			}
			&::after {
				content: '';
				background-color: #252525;
				height: 13px;
				width: 1px;
				position: absolute;
				right: -10px;
			}
			&:last-child::after {
				content: none;
			}
			&:hover,
			&:hover span {
				color: #c7b299;
				transition: 0.3s;
				cursor: pointer;
			}
		}
	}
}


.twitter__header {
	margin-bottom: 22px!important;
}

