@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800&display=swap');

body {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 300;
	color: #8c8c8c;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container{
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main-screen {
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

h2 {
	font-size: 30px;
	font-family: 'Raleway', serif;
	font-weight: 600;
	color: #555555;
	margin: 0 auto;
	line-height: 35px;
	@media (max-width:768px){
		font-size: 25px;
		line-height: 29px;
	}
}

h3 {
	font-family: 'Raleway', serif;
	font-weight: 600;
}

//==============================================================
.page {
	&__benefits {
		padding: 54px 0;
	}
}
.benefits {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		text-align: center;
		@media (max-width:1200px) {
			flex-wrap: wrap;
			margin: 0 auto;
			width: 69%;
		}
		@media (max-width:860px) {
			flex-direction: column;
			width: 270px;
		}
	}
	&__item {
		max-width: 270px;
		position: relative;
		padding: 0px 0px 25px 0px;
		margin: 30px 0;
		&:after {
			content: '';
			background-color: #f1eee9;
			height: 3px;
			width: 70px;
			position: absolute;
			left: 57%;
			margin: 0px 0px 0px -52.5px;
			bottom: 0;
		}
		svg {
			width: 43px;
			fill: #555555;
		}
		&:hover svg{
			fill: #c7b299;
			transition: 0.6s;
		}
		&:hover h4{
			color: #c7b299;
			transition: 0.6s;
		}
		&:hover:after{
			background-color: #c7b299;
			transition: 0.6s;
		}
	}
	&__title {
		font-size: 22px;
		color: #555555;
		margin: 26px 0 15px;
		font-family: 'Raleway', serif;
		font-weight: 600;
		letter-spacing: 0.2px;
	}
	&__subtitle {
		line-height: 24px;
	}
	@media (max-width:1200px) {

	}
}


//==============================================================

.page {
	&__ideas {
		background-color: #fbfaf8;
	}
}
.ideas {
	&__item {
		text-align: center;
	}
	&__title {
		margin-bottom: 18px;
		padding-top: 80px;
		letter-spacing: 0.2px;
		@media (max-width:550px) {
			max-width: 300px;
			max-width: 335px;
			line-height: 34px;
		}
	}
	&__subtitle {
		max-width: 760px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: -0.25px;
		font-weight: 400;
	}
	&__photo {
		display: flex;
		margin-top: 34px;
		padding-bottom: 0;
		@media (max-width:1300px) {
			margin: 34px auto 0;
			width: 728px;
		}
		@media (max-width:768px) {
			margin: 34px auto 0;
			width: 424px
		}
		@media (max-width:482px) {
			display: block;
			max-width: 100%
		}
		img {
			
		}
		&_left {
			position: relative;
			top: 82px;
			height: 400px;
			@media (max-width:1300px) {
				height: 183px;
			}
			@media (max-width:768px) {
				height: 118px;
			}
			@media (max-width:482px) {
				position: static;
				display: block;
				width: 100%;
				height: inherit;
			}
		}
		&_center {
			position: relative;
			left: -565px;
			z-index: 5;
			@media (max-width:1300px) {
				left: -200px;
				height: 265px;
			}
			@media (max-width:768px) {
				left: -175px;
				height: 200px;
			}
			@media (max-width:482px) {
				position: static;
				display: block;
				width: 100%;
				height: inherit;
				margin-top: 10px;
			}
		}
		&_right {
			position: relative;
			z-index: 2;
			height: 400px;
			left: -1105px;
			top: 82px;
			@media (max-width:1300px) {
				height: 183px;
				left: -400px;
			}
			@media (max-width:768px) {
				height: 118px;
				left: -350px;
			}
			@media (max-width:482px) {
				position: static;
				display: block;
				width: 100%;
				height: inherit;
				margin-top: 10px;
			}	
		}
	}
}


//==============================================================

.page {
	&__purchase {
		background: rgb(33,27,25);
		background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(56,40,32,1) 51%, rgba(78,52,39,1) 100%);
		background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(56,40,32,1) 51%, rgba(78,52,39,1) 100%);
		background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(56,40,32,1) 51%, rgba(78,52,39,1) 100%);
		height: 150px;
		@media (max-width:600px){
			height: 180px;
		}
	}
}
.purchase {
	&__body {
		margin: 0 auto;
		position: relative;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 150px;
		@media (max-width:600px){
			flex-direction: column;
			justify-content: center;
			height: 180px;
		}
	}
	&__text {
		@media (max-width:600px){
			margin-bottom: 15px;
			max-width: 381px;
			text-align: center;
		}
	}
	&__title {
		font-size: 28px;
		color: #fff;
		font-family: 'Raleway', serif;
		font-weight: 400;
		margin-bottom: 9px;
		letter-spacing: 0.2px;
		span {
			color: #c7b299;
		}
		@media (max-width:769px){
			font-size: 20px;
		}
		@media (max-width:410px){
			font-size: 18px;
			max-width: 200px;
			margin: 0 auto 10px;
			line-height: 22px;
		}
	}
	&__subtitle {
		font-size: 18px;
		color: #615855;
		@media (max-width:769px){
			font-size: 14px;
		}
		@media (max-width:410px){
			font-size: 12px;
			max-width: 309px;
		}
	}
	&__button {
		margin-top: inherit;
		padding: 18px 28px 16px 28px;
	}
}
//==============================================================

.page {
	&__project {}
}
.project {
	&__body {}
	&__text {
		text-align: center;
		padding: 78px 0 44px 0;
	}
	&__title {
		margin-bottom: 18px;
	}
	&__subtitle {
		max-width: 762px;
		margin: 0 auto;
		font-size: 16px;
		letter-spacing: -0.1px;
		line-height: 27px;
	}
	&__item {
		width: 100%;
	}
	&__toggle {
		&_list {
			text-align: center;
			li {
				list-style-type: none;
				display: inline-block;
				&:first-child {
					a {
						padding: 0.4em 1.9em;
						
					}
					@media (max-width:768px){
						margin-bottom: 28px;
					}
				}
				&:nth-child(2) {
					a {
						padding: 0.4em 1.2em;
					}
				}
				&:nth-child(3) {
					a {
						padding: 0.4em 1.4em;
					}
					@media (max-width:369px){
						margin-bottom: 28px;
					}
				}
				&:nth-child(4) {
					a {
						padding: 0.4em 1.5em;
					}
				}
				&:last-child {
					a {
						padding: 0.4em 1.6em;
					}
				}
				a {
					margin-right: 6px;
					padding: 0.4em 1em;
					border-radius: 3px;
					border: 1px solid #ebebeb;
					color: #8c8c8c;
					&:hover {
						background-color: #998675;
						border: 1px solid #998675;
						transition: 0.3s;
						color: #fff;
					}
					&act {
						background-color: pink;
					}
				}
			}
		}
	}
	&__button {
		margin: 0 auto;
		padding: 17px 46px 16px 44px;
		display: flex;
		justify-content: center;
		height: 48px;
		width: 171px;
	}
}

.content-project {
	flex: 0 1 33%;
	padding: 0 15px;
	margin: 0 auto 30px;
	&:hover &__img {
		background: #000;
		img {
			opacity: 0.5;
		}
		svg {
			display: block;
		}
	}
	&:hover &__text {
		background-color: #362f2d;
	}
	&:hover &__title {
		color: #fff;
	}
	&:hover &__subtitle {
		color: #c7b299;
	}
	&__img {
		display: inline-block;
		overflow: hidden;
		position: relative;
		height: 237px;
		width: 369px;
		@media (max-width:400px){
			height: 180px;
			width: 288px;
		}
	}
	&__scale {
		&_1 {
			background: url('../../img/photo-1.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&_2 {
			background: url('../../img/photo-2.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&_3 {
			background: url('../../img/photo-3.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&_4 {
			background: url('../../img/photo-4.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&_5 {
			background: url('../../img/photo-5.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&_6 {
			background: url('../../img/photo-6.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			transition: 1s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__text {
		background-color: #fbfaf8;
		width: 370px;
		height: 100px;
		margin-top: -2px;
		transition: 1s;
		padding: 29px 0 0 29px;
		@media (max-width:400px){
			width: 288px;
		}
	}
	&__title {
		font-size: 20px;
		font-family: 'Raleway', serif;
		font-weight: 500;
		margin-bottom: 10px;
	}
	&__subtitle {
		font-size: 14px;
	}
}

#project__content {
	margin: 48px auto 11px;
	width: 100%;
	@media (max-width:1199px){
		max-width: 770px;
	}
	@media (max-width:799px){
		max-width: 370px;
	}
}

#project__content .tab {
	display: none;
}
#project__content .tab.act {
	display: block;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

nav#project__toggle {
	margin: 0 auto;
	max-width: 615px;
	@media (max-width:768px){
		max-width: 340px;
	}
}

//==============================================================

.page {
	&__presentation {
		padding: 81px 0;
	}
}
.presentation {
	&__icon {
		background: url("../../img/play.png") no-repeat center;
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}
	&__body {
		text-align: center;
		width: 100%;
		display: table;
		background: url("../../img/video-presentation.jpg") no-repeat center;
		background-size: cover;
	}
	&__item {
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 705px;
		@media (max-width:1200px){
			height: 453px;
		}
		@media (max-width:768px){
			height: 363px;
		}
	}
	&__title {
		color: #fff;
		margin-top: 42px;
		margin-bottom: 18px;
		@media (max-width:768px){
			padding: 0 15px;
		}
		@media (max-width:400px){
			margin-top: 25px;
			margin-bottom: 12px;
		}
	}
	&__subtitle {
		margin-top: 10px;
		max-width: 561px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 28px;
		padding: 0 10px;
		@media (max-width:768px){
			font-size: 14px;
		}
	}
	&__time {
		margin-top: 37px;
		color: #c7b299;
		font-size: 14px;
		@media (max-width:400px){
			margin-top: 15px;
		}
	}
}

//==============================================================

.page {
	&__app {}
}
.app {
	&__row {
		display: flex;
		@media (max-width:1000px){
			flex-direction: column-reverse;
		}
	}
	&__body {
	}
	&__photo {
		padding-left: 45px;
		img {
			max-width: 100%;
		}
		@media (max-width:1000px){
			padding-left: 0;
			max-width: 422px;
			margin: 30px auto 0;
		}
	}
	&__text {
		padding-left: 27px;
		@media (max-width:1000px){
			margin: 0 auto;
			padding-left: 0;
		}
	}
	&__title {
		margin: 113px 0 28px 0;
		letter-spacing: 0.15px;
		@media (max-width:1000px){
			margin: 0px 0 28px 0;
			text-align: center;
		}
	}
	&__subtitle {
		font-size: 16px;
		line-height: 28px;
		max-width: 666px;
		@media (max-width:1000px){
			text-align: center;
		}
		@media (max-width:768px){
			font-size: 14px;
		}
	}
	&__item {
		margin: 30px 0 0 50px;
		@media (max-width:1071px){
			margin: 20px 0px 0px 0px;
		}
		@media (max-width:1000px){
			margin: 20px auto 0px;
			max-width: 478px;
		}
		@media (max-width:768px){
			max-width: 443px;
		}
		@media (max-width:414px){
			max-width: 278px;
			margin: 30px auto 0px;
		}
	}
	&__link {
		position: relative;
		line-height: 32px;
		letter-spacing: 1px;
		padding-left: 50px;
		@media (max-width:1200px){
			font-size: 13px;
			letter-spacing: 0px;
		}
		@media (max-width:1071px){
			padding-left: 30px;
		}
		@media (max-width:768px){
			font-size: 12px;
		}
		&::after {
			content:'';
			position: absolute;
			left: 0;
			    top: 5px;
			background-image: url('../../img/arrow.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 21px;
			height: 21px;
			margin-right: -10px;
		}
	}
}


//==============================================================

.page {
	&__statistics {
		background: rgb(33,27,25);
		background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
		background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
		background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
		height: 300px;
		@media (max-width:530px){
			height: 887px;
		}
	}
}
.statistics {
	&__body {
		
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 0 116px;
		align-items: center;
		height: 277px;
		@media (max-width:1200px){
			padding: 0 0px;
		}
		@media (max-width:530px){
			flex-direction: column;
		}
	}
	&__item {
		text-align: center;
		flex: 0 1 15%;
		@media (max-width:1200px){
			flex: 0 1 20%;
		}
		@media (max-width:530px){
			margin-top: 40px;
		}
	}
	&__image {}
	&__number {
		margin: 22px 0 13px 0;
		font-size: 48px;
		font-weight: 100;
		color: #fff;
		@media (max-width:768px){
			font-size: 30px;
		}
		@media (max-width:530px){
			margin: 12px 0 5px 0;
		}
	}
	&__desc {
		font-size: 14px;
		text-transform: uppercase;
		color: #c7b299;
		position: relative;
		@media (max-width:1163px){
			line-height: 21px;
			height: 37px;
			text-align: center;
		}
		@media (max-width:768px){
			font-size: 12px;
			width: 100px;
			margin: 0 auto;
		}
		&::after {
			content: '';
			background-color: #f1eee9;
			height: 2px;
			width: 30px;
			position: absolute;
			top: 42px;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			@media (max-width:706px){
				top: 55px;
			}
			@media (max-width:530px){
				top: 45px;
			}
		}
	}
}


//==============================================================

.page {
	&__posts {}
}
.container__posts {
	padding: 0 0px;
}
.posts {
	&__body {}
	&__text {
		max-width: 777px;
		text-align: center;
		margin: 78px auto 33px;
	}
	&__title {}
	&__subtitle {
		margin-top: 18px;
		line-height: 28px;
		font-size: 16px;
		letter-spacing: -0.1px;
	}
	&__slider {

	}
}
.slider {
	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		position: relative;
		width: 374px;
		margin: 0 auto;
		border: 1px solid #f8f8f8;
		&:hover {
			background-color: #362f2d;
			transition: 0.5s;
		}
		@media (max-width:404px){
			width: 300px;
		}
	}
	&__item {
		flex: 0 1 31%;
		position: relative;
		margin: 0 12px;
		&:hover h3 {
			color: #c7b299;
			transition: 0.5s;
		}
		&:hover .slider__day {
			background-color: #c7b299;
			transition: 0.5s;
		}
		&:hover .slider__month {
			background-color: #a48d72;
			transition: 0.5s;
		}
		&:hover .slider__images {
			background-image: #000;
			opacity: 0.5;
			transition: 0.5s;
		}
	}
	&__time {
		position: absolute;
		color: #fff;
		top: 20px;
		left: 19px;
		text-align: center;
		font-size: 24px;
		z-index: 2;

	}
	&__day {
		background-color: #363636;
		padding: 6px 10px 6px 11px;
		border-radius: 4px 4px 0 0;
	}
	&__month {
		font-size: 12px;
		background-color: #252525;
		padding: 4px 9px 8px 11px;
		border-radius: 0 0 4px 4px;
		letter-spacing: -0.2px;
	}
	&__images {
		img {
			width: 372px;
			@media (max-width:404px){
				width: 298px;
			}
		}
	}
	&__text {
		padding: 28px 22px 67px 28px;
	}
	&__title {
		font-size: 20px;
		font-family: 'Raleway', serif;
		font-weight: 500;
	}
	&__subtitle {
		margin-top: 15px;
		line-height: 22px;
		letter-spacing: -0.1px;
	}
	&__button {
		margin-top: 24px;
		display: block;
		position: absolute;
		color: #c7b299;
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			bottom: 1px;
			left: 84px;
			background: url('../../img/arrow-right.png') no-repeat;
			width: 10px;
			height: 10px;
		}
	}
	&__control {
		&_left {}
		&_right {}
		&_show {}
	}
}

.slider {
	position: relative;
	// padding: 0 60px;
}

.slick-track{ 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start; 
}

.slick-slide.slick-active{
	width: 300px;
}

.slick-list { 
	overflow: hidden; 
}

.slider .slick-arrow {
	position: absolute;
	bottom: -62px;
	z-index: 10;
	font-size: 0; 
	width: 22px;
	height: 22px;
	&:hover {
		fill: #c7b299;
	}
}
.slider .slick-arrow.slick-prev{
	right: 50%;
	margin-left: -50%;
	margin-right: 5px;
	transform: translate(-50%, -50%);
	background: url('../img/svg/slider-arrow__left.svg') 0 0 / 100% no-repeat;
	&:hover {
		background: url('../img/svg/slider-arrow__left_color.svg') 0 0 / 100% no-repeat;
		transition: 0.5s;
	}
}
.slider .slick-arrow.slick-next{
	left: 50%;
	margin-right: -50%;
	margin-left: 5px;
	transform: translate(-50%, -50%);
	background: url('../img/svg/slider-arrow__right.svg') 0 0 / 100% no-repeat;
	&:hover {
		background: url('../img/svg/slider-arrow__right_color.svg') 0 0 / 100% no-repeat;
		transition: 0.5s;
	}
}

.slider .slick-dots{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

//==============================================================

.page {
	&__partners {
		background: url('../img/pre-footer.jpg');
		background-size: cover;
		background-position: center;
		margin: 142px 0 0 0;
		height: 489px;
		position: relative;
		@media (max-width:1200px) {

		}
	}
}

.partners {
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 489px;
		max-width: 1200px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		width: 1110px;
		@media (max-width:600px) {
			flex-wrap: wrap;
			width: 250px;
			height: 250px;
		}
		img {
			align-self: center;
			@media (max-width:1200px) {
				width: 145px;
			}
			@media (max-width:768px) {
				width: 100px;
			}
		}
	}
}


//==============================================================
//==============================================================
