@import "nullstyle.css";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800&display=swap');
@import "header.scss";

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container{
	max-width: 1180px;
	padding: 0px 15px;
	margin: 0px auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main-screen {
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

