@charset "UTF-8";
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  top: 25px; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px; }
  .header__logo {
    position: relative;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__logo img {
      max-width: 100%; }
      @media (max-width: 967px) {
        .header__logo img {
          width: 50px;
          height: 50px; } }
    .header__logo:after {
      content: 'Waxom';
      font-size: 34px;
      vertical-align: 35%;
      font-family: 'Raleway', serif;
      font-weight: 400;
      color: #fff; }
      @media (max-width: 967px) {
        .header__logo:after {
          font-size: 20px;
          vertical-align: 70%; } }
  .header__burger {
    display: none; }
  .header__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2; }
    .header__list li {
      position: relative;
      padding: 0 13.3px;
      list-style-type: none; }
      .header__list li:nth-child(9) {
        padding: 0px 15px 0px 50px; }
      @media (max-width: 1024px) {
        .header__list li {
          padding: 0 12px; }
          .header__list li:nth-child(9) {
            padding: 0px 12px 0px 20px; } }
      @media (max-width: 967px) {
        .header__list li {
          padding: 0 10px; }
          .header__list li:nth-child(9) {
            padding: 0px 10px 0px 15px; } }
  .header__link {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff; }
    .header__link:hover {
      color: #c7b299;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .header__form {
    display: none; }
  .header__main {
    text-align: center;
    color: #fff;
    text-align: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__title h1 {
    font-family: 'Raleway', serif;
    font-size: 52px;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.5px; }
    @media (max-width: 890px) {
      .header__title h1 {
        font-size: 40px; } }
    @media (max-width: 540px) {
      .header__title h1 {
        font-size: 30px; } }
  .header__title span {
    font-size: 36px;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
    letter-spacing: 0px; }
    @media (max-width: 890px) {
      .header__title span {
        font-size: 25px; } }
    @media (max-width: 540px) {
      .header__title span {
        font-size: 18px; } }
  .header__subtitle {
    max-width: 600px;
    margin: 0 auto;
    margin: 15px auto 27px auto;
    line-height: 26px;
    letter-spacing: 0.9px; }
    @media (max-width: 890px) {
      .header__subtitle {
        margin: 15px auto 14px auto; } }
    .header__subtitle p {
      font-style: 16px;
      font-family: 'Montserrat', serif;
      font-weight: 300; }
      @media (max-width: 890px) {
        .header__subtitle p {
          font-size: 14px; } }
      @media (max-width: 540px) {
        .header__subtitle p {
          font-size: 12px; } }
  .header__button {
    display: inline-block;
    margin-top: 20px; }

.button {
  padding: 18px 39px 16px 39px;
  background-color: #998675;
  margin-top: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Raleway', serif;
  text-transform: uppercase;
  border-radius: 4px; }

@media (max-width: 890px) {
  body.lock {
    overflow: hidden; }
  .header__body {
    height: 30px; }
  .header__row {
    height: 60px; }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    right: 25px;
    z-index: 3; }
  .header__burger span {
    /*создаем полоску по середине*/
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    /*прижимаем верхнюю полоску вверх*/
    top: 0; }
  .header__burger:after {
    /*прижимаем нижнюю полоску вниз*/
    bottom: 0; }
  .header__burger.active:before {
    /*.active это из JS файлы, т.е. что будет происходить когда добавляется класс active элементу и делаем из бургера крестик*/
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /*поварачиваем верхнюю палку на 45 градусов*/
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /*поварачиваем нижнюю палку на 45 градусов*/
    bottom: 9px; }
  .header__burger.active span {
    /*убираем среднюю палочку при добавление класса active*/
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__menu {
    /*фиксируем и делаем фон для открытого меню бургера*/
    position: fixed;
    top: -120%;
    /*сначала мы пишем top:0, но потом чтобы меню появлялось сверху плавно то пишем уже top:-100%;*/
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*если в меню много слов/строк и т.д. то будет скролл*/
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px 10px 20px 10px;
    /*спускает навигацию вниз*/
    z-index: 2; }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: block;
    /*отключаем display: flex и навигация размещается в столбец*/
    text-align: center; }
    .header__list li {
      margin: 0px 0px 16px 0px;
      padding: 4px 0px; }
      .header__list li:nth-child(10) {
        display: none; }
  .header__link {
    font-size: 24px; }
  .header__form {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto; }
    .header__form input {
      color: #fff; }
      .header__form input:focus {
        outline: none; }
  .header__input {
    padding: 10px 20px;
    color: #000;
    background-color: #000;
    border: none;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .header__input-button {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #998675;
    border: none; } }

@media (max-width: 360px) {
  .header__input {
    width: 100px; } }
